.spinner {
    width: 100px;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-top-color: var(--color-sp1);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100vh;
    /* Full viewport height */
    width: 100%;
    // padding-top: 50px;
}